
header,footer {
    background-color: rgb(127, 86, 180);
    color: rgb(46, 30, 46);
}
h1{text-align: center;
color:white;}

body{
    position: relative;
    background-color: snow;
}

header {
    display: block;
    position: sticky;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 200px;
    margin: 0px;
}
nav{
    float: right;
}
.navList{
    
    display: inline;
    padding: 5px;
}
footer {
    display: block;
    position: fixed;
    bottom: 8px;
    right: 0px;
    left: 0px;
}
main{
    position: absolute;
    top: 200px;
    height: 1800px;
}